<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>YouTube to Text converter</title>
</head>
<body>
    <div class="top-container">
        <form action = 'http://localhost:63342/HawkHacks/templates/text.html?_ijt=ru8pe5a0phkec4omd1je5nf7ob&_ij_reload' method="POST" id="form" >
        <h1><i class="fab fa-youtube"></i>YouTube to text converter</h1>
        <h4>Please insert the YouTube video URL</h4>
        <div>
            <input type="text" name="videoURL" placeholder="Enter video URL"><button id="convert-btn" onclick = "func()">Convert</button> 
        </div>
        </form> 
    </div>
    <!-- We can add a bottom container div that does some error checking for us. -->
</body>

<script>
    import 'dotenv/config';
    import fetch from 'node-fetch';

    function func() {
        const url = 'https://api.assemblyai.com/v2/transcript';

        const audio_url = document.getElementByName("videoURL").value;
        const data = {
            "audio_url" : audio_url
        };

        const params = {
            headers:{
                "authorization": "a30b0d235ea04ce5946b07f391afd504",
                "content-type": "application/json",
            },
            body: JSON.stringify(data),
            method: "POST"
        };
        fetch(url, params)
        .then(response => response.json())
        .then(data => {
            document.getElementById("results").innerText = res.text
        })
        .catch((error) => document.getElementById("results").innerText = error);

}
</script>

</html>