<!DOCTYPE html>



<h1>Damage Calculator</h1>
<div>
    <img src = "../images/tony.webp" alt = "Archon of Damage" width = 800 height = 300>
</div>
<form method="post" action="/damage">
    <input type="button" onclick ="location.href='http://127.0.0.1:5000/'" value = "Home"/>
</form>

<form>
<label for= "Character"> Character:</label><br>
<select name = "Character" id = "Character">
    <option value="Choose a Character">Choose a Character</option>
    <option value="Albedo">Albedo</option>
    <option value="Aloy">Aloy</option>
    <option value="Amber">Amber</option>
    <option value="Itto">Itto</option>
    <option value="Barbara">Barbara</option>
    <option value="Beidou">Beidou</option>
    <option value="Bennett">Bennett</option>
    <option value="Chongyun">Chongyun</option>
    <option value="Diluc">Diluc</option>
    <option value="Diona">Diona</option>
    <option value="Eula">Eula</option>
    <option value="Fischl">Fischl</option>
    <option value="Ganyu">Ganyu</option>
    <option value="Gorou">Gorou</option>
    <option value="Hu Tao">Hu Tao</option>
    <option value="Jean">Jean</option>
    <option value="Kazuha">Kazuha</option>
    <option value="Kaeya">Kaeya</option>
    <option value="Ayaka">Ayaka</option>
    <option value="Ayato">Ayato</option>
    <option value="Keqing">Keqing</option>
    <option value="Klee">Klee</option>
    <option value="Kujou Sara">Kujou Sara</option>
    <option value="Lisa">Lisa</option>
    <option value="Mona">Mona</option>
    <option value="Ningguang">Ningguang</option>
    <option value="Noelle">Noelle</option>
    <option value="Qiqi">Qiqi</option>
    <option value="Raiden Shogun">Raiden Shogun</option>
    <option value="Razor">Razor</option>
    <option value="Kokomi">Kokomi</option>
    <option value="Sayu">Sayu</option>
    <option value="Shenhe">Shenhe</option>
    <option value="Sucrose">Sucrose</option>
    <option value="Thoma">Thoma</option>
    <option value="Geo MC">Aether</option>
    <option value="Anemo MC">Lumine</option>
    <option value="Electro MC">Lumine</option>
    <option value="Venti">Venti</option>
    <option value="Xiangling">Xiangling</option>
    <option value="Xiao">Xiao</option>
    <option value="Xingqiu">Xingqiu</option>
    <option value="Xinyan">Xinyan</option>
    <option value="Yae Miko">Yae Miko</option>
    <option value="Yanfei">Yanfei</option>
    <option value="Yoimiya">Yoimiya</option>
    <option value="Yun Jin">Yun Jin</option>
    <option value="Zhongli">Zhongli</option>
</select><br>

<label for= "Enemy"> Enemy:</label><br>
<select name = "Enemy" id = "Enemy">

</select> <br>

<label for="Attack"> Attack:</label><br>
<input type="text" id="Attack" name="Attack" class = "input" value=""><br>
<label for="HP"> HP:</label><br>
<input type="text" id="HP" name="HP" class = "input" value=""><br>
<label for="Def"> Defense:</label><br>
<input type="text" id="Def" name="Def" class = "input" value=""><br>
<label for="EM"> Elemental Mastery:</label><br>
<input type="text" id="EM" name="EM" class = "input" value=""><br>
<label for="Elemental Bonus"> Elemental Bonus:</label><br>
<input type="text" id="Elemental Bonus" name="Elemental Bonus" class = "input" value=""><br>
<label for="Crit"> Crit:</label><br>
<input type="text" id="Crit" name="Crit" class = "input" value=""><br>
<label for="Cdmg"> Cdmg:</label><br>
<input type="text" id="Cdmg" name="Cdmg" class = "input" value=""><br>

<label for="Talent 1"> Talent 1:</label><br>
<input type="text" id="Talent 1" name="Talent 1" class = "input" value=""><br>
<label for="Talent 2"> Talent 2:</label><br>
<input type="text" id="Talent 2" name="Talent 2" class = "input" value=""><br>
<label for="Talent 3"> Talent 3:</label><br>
<input type="text" id="Talent 3" name="Talent 3" class = "input" value=""><br>
<input type="button" value="Submit" onclick = "calc()">


</form>

<div>
    <text hidden for= "Calculated Damage" id = "Calculated Damage"> Character: <text for = "Result" id = "Result"></text> </text>
    <text hidden for= "Auto" id = "Auto"> Calculated Auto Atk Damage: <text for = "Result1" id = "Result1"></text> </text>
    <text hidden for= "Skill" id = "Skill"> Calculated Elemental Skill Damage: <text for = "Result2" id = "Result2"></text> </text>
    <text hidden for= "Burst" id = "Burst"> Calculated Elemental Burst Damage: <text for = "Result3" id = "Result3"></text> </text>
</div>

<script>
    function calc() {
        document.getElementById("Calculated Damage").removeAttribute("hidden");
        var atk = document.getElementById("Attack").value;
        var hp = document.getElementById("HP").value;
        var def = document.getElementById("Def").value;
        var em = document.getElementById("EM").value;
        var eb = document.getElementById("Elemental Bonus").value;
        var crit = document.getElementById("Crit").value;
        var cdmg = document.getElementById("Cdmg").value;
        if (document.getElementById("Character").value == "Choose a Character") {
            document.getElementById("Result").innerText = "Please Choose a Character";
            return;
        }
        if (document.getElementById("Character").value == "Albedo") {
            document.getElementById("Result").innerText = "Albedo";
            if (document.getElementById("Talent 1").value < 1 || document.getElementById("Talent1").value > 15) {
                document.getElementById("Auto").removeAttribute("hidden");
                document.getElementById("Result1").innerText = "Invalid Talent Level";
            }
            if (document.getElementById("Talent 1").value == 1) {
                document.getElementById("Auto").removeAttribute("hidden");
                document.getElementById("Result1").innerText = "Normal Atk: " + (0.3674 * atk) + " + " + (0.3674 * atk) + " + " + (0.4745 * atk) + " + " + (0.4975 * atk) + " + " + (0.6207 * atk) + " = " + ((0.3674 * atk) + (0.3674 * atk) + (0.4745 * atk) + (0.4975 * atk) + (0.6207 * atk))
                + "\nCharged Atk: " + (0.473 * atk) + " + " + (0.602 * atk) + " = " + ((0.473 * atk) + (0.602 * atk))
            }
            if (document.getElementById("Talent 1").value == 2) {
                document.getElementById("Auto").removeAttribute("hidden");
                document.getElementById("Result1").innerText = "Normal Atk: " + (0.3973 * atk) + " + " + (0.3973 * atk) + " + " + (0.5132 * atk) + " + " + (0.538 * atk) + " + " + (0.6713 * atk) + " = " + ((0.3973 * atk) + (0.3973 * atk) + (0.5132 * atk) + (0.538 * atk) + (0.6713 * atk))
                + "\nCharged Atk: " + (0.5115 * atk) + " + " + (0.651 * atk) + " = " + ((0.5115 * atk) + (0.651 * atk))
            }
            
        }
    }

</script>

</html>