<!DOCTYPE html>
<h1>Wish Calculator</h1>

<div>
    <img src = "../images/resin.png" alt = "resin banner" width = 800 height = 300>
</div>

<form method="post" action="/wish">
    <input type="button" onclick ="location.href='http://127.0.0.1:5000/'" value = "Home"/>
</form>

<form>
    <label for="Cur">Current Primogems:</label><br>
    <input type="text" id="Current Primogems" name="Current Primogems" class = "input" value=""><br>
    <label for="Days">Days Left of Banner:</label><br>
    <input type="text" id="Current Days" name="Current Days" class = "input" value=""><br>
    <label for="Pity">Pity:</label><br>
    <input type="text" id="Pity" name="Pity" class = "input" value=""><br>
    <label for="50/50">50/50?:</label><br>
    <input type="radio" id="50/50" name="50/50" class = "input" value="50/50">
    <label for="50/50">50/50</label><br>
    <input type="radio" id="Guaranteed" name="50/50" class = "input" value="Guaranteed">
    <label for="Guaranteed">Guaranteed</label><br>
    <input type="button" value="Submit" onclick = "calc()">
</form> 

<text hidden for= "Total Wishes" id = "Total Wishes">Total Wishes (not counting from Events + including daily coms): <text for = "Result1" id = "Result1"></text> </text>
<div>
<text hidden for= "Guaranteed?" id = "Guaranteed?">How much more until you hit pity?: <text for = "Result2" id = "Result2"></text> </text>
</div>
<div>
    <text hidden for= "Get?" id = "Get?">So will you get the 5 star guaranteed?: <text for = "Result3" id = "Result3"></text> </text>
</div>


<script>
    function calc(){
        document.getElementById("Total Wishes").removeAttribute("hidden");
        document.getElementById("Guaranteed?").removeAttribute("hidden");
        document.getElementById("Get?").removeAttribute("hidden");
        if (document.getElementById("Current Primogems").value < 0 || document.getElementById("Current Days").value < 0|| 
        document.getElementById("Pity").value < 0 || 
        document.getElementById("Current Primogems").value.match("^[a-zA-Z]+$")|| 
        document.getElementById("Current Days").value.match("^[a-zA-Z]+$") || 
        document.getElementById("Pity").value.match("^[a-zA-Z]+$") ||
         document.getElementById("Current Primogems").value == null ||
          document.getElementById("Pity").value == null || document.getElementById("Current Days").value == null
          || document.getElementById("Current Primogems").value == "" || document.getElementById("Current Days").value == "" ||
           document.getElementById("Pity").value == "" ||
           (!document.getElementById("50/50").checked && !document.getElementById("Guaranteed").checked) ||
           document.getElementById("Pity").value > 90) {
            document.getElementById("Result1").innerText = "Invalid Input";
            document.getElementById("Result2").innerText = "Invalid Input";
            return;
        }
        var coms = document.getElementById("Current Days").value * 60;
        var total = +coms + +document.getElementById("Current Primogems").value;
        var result = total/160;
        document.getElementById("Result1").innerText = result + " wish(es); " + total + " primogem(s)";
        
        if (document.querySelector('input[name="50/50"]:checked').value == "50/50") {
            var guar = 180 - document.getElementById("Pity").value;
            var g = guar * 160;
            var next5 = 90 - document.getElementById("Pity").value;
            var n = next5 * 160;
            document.getElementById("Result2").innerText = guar +  " pulls/" + g + " primogems until guaranteed;\n" + next5 + " pulls/" + n + " primogems until next 5 star\n Good Luck!";
            if (g > total) {
                document.getElementById("Result3").innerText = "No (not counting Events/Spiral Abyss/BP)";
            }
            else if (g <= total) {
                document.getElementById("Result3").innerText = "Yes!\n Congratz!";
            }
            return;
        }
        else if (document.querySelector('input[name="50/50"]:checked').value == "Guaranteed") {
            var guar = 90 - document.getElementById("Pity").value;
            var g = guar * 160;
            document.getElementById("Result2").innerText = guar + " pulls/" + g + " primogems until guaranteed";
            if (g > total) {
                document.getElementById("Result3").innerText = "No (not counting Events/Spiral Abyss/BP)";
            }
            else if (g <= total) {
                document.getElementById("Result3").innerText = "Yes!\n Congratz!";
            }
            return;
        }
        
    }
</script>


</html>